#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	test -d build && make clean || true

override_dh_auto_configure:
	meson setup --prefix=/usr -Dinstall_systemd_unit=true . build

override_dh_auto_test:
	make test
	make check
